# Project: Wrangling and Analyze Data

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#gathering">Data Gathering</a></li>
<li><a href="#assessing">Assessing Data</a></li>
<li><a href="#cleaning">Cleaning Data</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Descriptions

#### WeRateDogs enhanched twitter archive data

This dataset is provided by Udacity and is actually a subset of the 5000+ tweets from the WeRateDogs Twitter archive that have been filtered for tweets with ratings only.

|        **Features**        |                                                             **Description**                                                            |
|:--------------------------:|:--------------------------------------------------------------------------------------------------------------------------------------:|
|          tweet_id          |                                                        Unique id for each tweet                                                        |
|    in_reply_to_status_id   |                                               The tweet id for the tweet the reply is to                                               |
|     in_reply_to_user_id    |                                                    The user id that the reply is to                                                    |
|          timestamp         |                                                     Date and time tweet was posted                                                     |
|           source           |                                                      Source tweet was posted from                                                      |
|            text            |                                                        Text content of the tweet                                                       |
|     retweeted_status_id    |                                                   ID of the tweet that was retweeted                                                   |
|  retweeted_status_user_id  |                                                   User ID of user from original tweet                                                  |
| retweeted_status_timestamp |                                                    Date and time retweet was posted                                                    |
|        expanded_urls       |               URLs for links to media inside in the tweet (this can be video, photo, urls to other tweets, or other URLs)              |
|      rating_numerator      | Rating for dog (Can be higher than denominator per this [unique rating system](https://knowyourmeme.com/memes/theyre-good-dogs-brent)) |
|     rating_denominator     |                                Top of scale for rating of dog (although can be lower than the numerator)                               |
|            name            |                                                             Name of the dog                                                            |
|            doggo           |                              A big pupper, usually older. A pupper that appears to have its life in order.                             |
|           floofer          |                        Any dog really. However, this label is commonly given to dogs with seemingly excess fur.                        |
|           pupper           |                                                     A small doggo, usually younger.                                                    |
|            puppo           |                  A transitional phase between pupper and doggo. Easily understood as the dog equivalent of a teenager.                 |

#### Tweet image prediction data

This dataset is the result of running every image from the WeRateDogs Twitter archive through a neural network that can classify breeds of dogs. This dataset gives the top three predictions only.

| **Features** |                                                         **Description**                                                        |
|:------------:|:------------------------------------------------------------------------------------------------------------------------------:|
|   tweet_id   |                                                    Unique id for each tweet                                                    |
|    jpg_url   |                                                        URL for the image                                                       |
|    img_num   | The image number that corresponded to the most confident prediction (numbered 1 to 4 since tweets can have up to four images). |
|      p1      |                                    The algorithm's #1 prediction for the image in the tweet                                    |
|    p1_conf   |                                       How confident the algorithm is in its #1 prediction                                      |
|    p1_dog    |                                       Whether or not the #1 prediction is a breed of dog                                       |
|      p2      |                                          The algorithm's second most likely prediction                                         |
|    p2_conf   |                                       How confident the algorithm is in its #2 prediction                                      |
|    p2_dog    |                                       Whether or not the #2 prediction is a breed of dog                                       |
|      p3      |                                          The algorithm's third most likely prediction                                          |
|    p3_conf   |                                       How confident the algorithm is in its #3 prediction                                      |
|    p3_dog    |                                       Whether or not the #3 prediction is a breed of dog                                       |

#### Twitter API results

This is the resulting data from the Twitter API code provided by Udacity which shows the retweet count and favorite count for each tweet from the WeRateDogs enhanced Twitter archive dataset.

|  **Features**  |                **Description**                |
|:--------------:|:---------------------------------------------:|
|    tweet_id    |            Unique id for each tweet           |
|  retweet_count |            Total number of retweets           |
| favorite_count | Total number of times the tweet was favorited |

### Import necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import tweepy
from tweepy import OAuthHandler
from timeit import default_timer as timer
import os
import requests
import lxml
from dotenv import load_dotenv

%matplotlib inline

Set options for showing dataframes

In [2]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 100)

<a id='gathering'></a>
## Data Gathering

<ul>
<li><a href="#twitter_archive">WeRateDogs Twitter archive data</a></li>
<li><a href="#img_predictions">Tweet image prediction data</a></li>
<li><a href="#tweet_json">Twitter API data</a></li>
</ul>

<a id='twitter_archive'></a>
### Read in the WeRateDogs Twitter archive data downloaded directly from Udacity

In [3]:
twitter_archive = pd.read_csv('./data/twitter-archive-enhanced.csv')

<a id='img_predictions'></a>
### Use the Requests library to download the tweet image prediction data

#### Creating functions to be used for creating folders, files, and downloading data using the Requests library

In [4]:
def get_data_content(url):
    """
    Return the content of the response of provided url

    This script requires that `requests` be installed within the Python
    environment you are running this script in.

    Parameter
    -----------
    url : str

    Returns
    ----------
    byte
        Response from url as bytes
    """
    
    response = requests.get(url)
    return response.content

def create_folder(folder_name):
    """
    Creates a folder in immediate path if the folder name does not already exist

    This script requires that `os` be installed within the Python environment you 
    are running this script in.

    Parameter
    -----------
    folder_name : str
    """
    
    # Checks directory for folder, folder_name
    if not os.path.exists(folder_name):
        os.makedirs(folder_name) # If folder_name was not found, makes new folder, folder_name

def create_file(url, folder_name):
    """
    Creates a file with the contents from `get_data_content` in folder if the file 
    name does not already exist

    This script requires that `os` be installed within the Python environment you 
    are running this script in.

    Parameters
    -----------
    url : str
    folder_name : str
    """
    
    file_name = url.split('/')[-1] # Splits the url string at the last / and keeps the text to the right of it
    # If file_name does not exists inside folder_name, save contents of response
    # response.content is stored as bytes so mode argument is set to 'wb' for write binary
    with open(os.path.join(folder_name,
                           file_name),
                           mode='wb') as file:
        if not os.path.exists(file_name):
            file.write(get_data_content(url))

def create_data_file(url, folder_name):
    """
    Create file with contents from the response of a URL inside a folder

    Parameters
    -----------
    url : str
    folder_name : str    
    """
    
    create_folder(folder_name)
    create_file(url, folder_name)

In [5]:
create_data_file('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv',
                 'data')

In [6]:
img_predictions = pd.read_csv('./data/image-predictions.tsv', delimiter='\t')

<a id='tweet_json'></a>
### Use the Tweepy library to query additional data via the Twitter API

Below is the code provided by Udacity to students that are unable to use the API (which will be all students now that Twitter has changed their API access). 

**Please note:**
> Twitter no longer allows v1 API access. The free plan for v2 does not include lookup of tweets. The basic plan for v2 can retrieve up to 10,000 tweets per month at a rate limit of 15 requests/15 minutes. However, the basic plan costs $100/month
> 
> I had already created a dotenv file to store my API credentials to keep them hidden
> 
> The cell below is in Raw format to avoid it being run since the code assumes using v1.1 of Twitter's API and I was only able to get v2 credentials

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file

# Load .env variables
%load_ext dotenv
%dotenv

# Store .env variables to be used later
# Keeps API credentials hidden
consumer_key = os.getenv('CONSUMER_KEY')
consumer_secret = os.getenv('CONSUMER_SECRET')
access_token = os.getenv('ACCESS_TOKEN')
access_secret = os.getenv('ACCESS_SECRET_TOKEN')

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = twitter_archive.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

Since I am unable to use the Twitter API to gather the data I need I will be using the resulting data of the code above as provided by Udacity.

> I will be doing this following the same method to get the image-predictions.tsv data

In [7]:
create_data_file('https://video.udacity-data.com/topher/2018/November/5be5fb7d_tweet-json/tweet-json.txt',
                 'data')

In [8]:
df_list = [] # Creates empty list to build DataFrame later
with open('./data/tweet-json.txt', encoding='utf-8') as file:
    for line in file:
        tweet = json.loads(line) # Store line as JSON format to make the process of accessing data easier than using slice method
        tweet_id = tweet['id_str'] # Get tweet id as string
        retweet_count = tweet['retweet_count']
        favorite_count = tweet['favorite_count']
        # Add dict to list to use for creating a DataFrame
        df_list.append({'tweet_id': tweet_id,
                        'retweet_count': retweet_count,
                        'favorite_count': favorite_count})

# Create DataFrame using list created from file
tweet_json = pd.DataFrame(df_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

<a id='assessing'></a>
## Assessing Data

<ul>
<li><a href="#archive">Assessing twitter_archive</a></li>
<li><a href="#predictions">Assessing img_predictions</a></li>
<li><a href="#json">Assessing tweet_json</a></li>
<li><a href="#quality">Quality Issues</a></li>
<li><a href="#Tidiness">Tidiness Issues</a></li>
</ul>
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [9]:
# Reusing my own function from the _Investigate a dataset_ project from earlier in this nanodegree
# I did update the docstring and ensured it was code that was used more than once
def check_for_dupes(data, col):
    """
    Checks for duplicate values in each column of a dataset (dupe or dupes)
    Returns column name, number of duplicated values, and list of duplicated values with frequency of each value (if applicable)

    Parameter
    -----------
    data : DataFrame
    col : Series from DataFrame
    """
    
    dupe_count = data[col].duplicated().sum()
    if dupe_count == 0:
        return f'{col} has {dupe_count} dupes\n'
    elif dupe_count == 1:
        return f'{col} has {dupe_count} dupe:\n{data[col].value_counts()}\n'
    else:
        return f'{col} has {dupe_count} dupes:\n{data[col].value_counts()}\n'

<a id='archive'></a>
### Assessing `twitter_archive`

#### Visual assessment

In [10]:
twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,NaN,NaN,NaN,NaN,NaN
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,NaN,NaN,NaN,NaN
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,NaN,NaN,NaN,NaN
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,NaN,NaN,NaN,NaN
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,NaN,NaN,NaN,NaN,NaN

##### Visual Assessment notes:

* Names are missing
* Names are 'a'
* Rows are missing a classification for one of doggo, floofer, pupper, or puppo
* expanded_urls have multiple URLs separated by commas, some of the URLs are for photos while others are for videos or other links.

#### Programmatic Assessment

In [11]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

* 78 rows are replies (will need to ensure these are not updates to ratings)
* 181 rows are retweets (which for tweets can be considered duplicated data since it is a repost of original tweet) and should not be included in the analysis of this dataset
* 59 rows are missing values in the exapnded_urls column
* Name is missing value for 745 rows
* Doggo, floofer, pupper, and puppo are not completed for a majority of the records
* in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id are float and should be string
* timestamp and retweeted_status_timestamp are object and should be string

In [12]:
# Count of duplicated rows
twitter_archive.duplicated().sum()

0

In [13]:
# Print out the duplicate values for each column in the data set
for col in twitter_archive.columns:
    print(check_for_dupes(twitter_archive, col), '\n', '--------------------------------------------', '\n')

tweet_id has 0 dupes

 --------------------------------------------

in_reply_to_status_id has 2278 dupes:
in_reply_to_status_id
6.671522e+17    2
8.862664e+17    1
6.920419e+17    1
6.827884e+17    1
6.842229e+17    1
6.844811e+17    1
6.849598e+17    1
6.855479e+17    1
6.860340e+17    1
6.903413e+17    1
6.924173e+17    1
6.780211e+17    1
6.935722e+17    1
6.936422e+17    1
6.706684e+17    1
6.753494e+17    1
6.964887e+17    1
7.030419e+17    1
7.044857e+17    1
6.813394e+17    1
6.765883e+17    1
7.079801e+17    1
6.757073e+17    1
6.689207e+17    1
6.678065e+17    1
6.693544e+17    1
6.715449e+17    1
6.715610e+17    1
6.737159e+17    1
6.658147e+17    1
6.744689e+17    1
6.747400e+17    1
6.747522e+17    1
6.717299e+17    1
6.747934e+17    1
6.749998e+17    1
6.754971e+17    1
6.758457e+17    1
7.032559e+17    1
7.291135e+17    1
8.816070e+17    1
8.320875e+17    1
8.380855e+17    1
8.381455e+17    1
8.406983e+17    1
7.590995e+17    1
8.476062e+17    1
8.482121e+17    1
8.503288e+17    1
8.558585e+17    1
8.558616e+17    1
8.562860e+17    1
8.558181e+17    1
8.571567e+17    1
8.634256e+17    1
8.707262e+17    1
8.795538e+17    1
8.352460e+17    1
8.319030e+17    1
7.384119e+17    1
8.265984e+17    1
6.914169e+17    1
7.468859e+17    1
7.476487e+17    1
7.501805e+17    1
7.638652e+17    1
7.667118e+17    1
7.727430e+17    1
7.971238e+17    1
8.008580e+17    1
8.018543e+17    1
7.331095e+17    1
8.116272e+17    1
8.131273e+17    1
8.211526e+17    1
8.233264e+17    1
6.670655e+17    1
Name: count, dtype: int64

 --------------------------------------------

in_reply_to_user_id has 2324 dupes:
in_reply_to_user_id
4.196984e+09    47
2.195506e+07     2
2.281182e+09     1
1.132119e+08     1
1.637468e+07     1
4.670367e+08     1
1.198989e+09     1
2.878549e+07     1
2.319108e+09     1
3.589728e+08     1
4.717297e+09     1
1.584641e+07     1
7.305050e+17     1
2.916630e+07     1
2.918590e+08     1
1.185634e+07     1
2.068372e+07     1
1.582854e+09     1
4.738443e+07     1
3.058208e+07     1
2.625958e+07     1
2.894131e+09     1
8.405479e+17     1
1.361572e+07     1
1.943518e+08     1
2.792810e+08     1
1.806710e+08     1
7.759620e+07     1
1.648776e+07     1
3.105441e+09     1
2.143566e+07     1
Name: count, dtype: int64

 --------------------------------------------

timestamp has 0 dupes

 --------------------------------------------

source has 2352 dupes:
source
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: count, dtype: int64

 --------------------------------------------

text has 0 dupes

 --------------------------------------------

retweeted_status_id has 2174 dupes:
retweeted_status_id
8.874740e+17    1
6.704450e+17    1
6.671828e+17    1
6.661041e+17    1
7.717705e+17    1
               ..
7.950767e+17    1
7.840579e+17    1
8.222448e+17    1
8.224891e+17    1
6.675484e+17    1
Name: count, Length: 181, dtype: int64

 --------------------------------------------

retweeted_status_user_id has 2330 dupes:
retweeted_status_user_id
4.196984e+09    156
4.296832e+09      2
5.128045e+08      1
7.124572e+17      1
7.832140e+05      1
2.804798e+08      1
1.950368e+08      1
1.732729e+09      1
1.228326e+09      1
7.992370e+07      1
2.488557e+07      1
4.871977e+08      1
4.466750e+07      1
7.266347e+08      1
1.547674e+08      1
1.960740e+07      1
4.119842e+07      1
5.970642e+08      1
3.410211e+08      1
7.475543e+17      1
6.669901e+07      1
5.870972e+07      1
3.638908e+08      1
7.874618e+17      1
8.117408e+08      1
Name: count, dtype: int64

 --------------------------------------------

retweeted_status_timestamp has 2174 dupes:
retweeted_status_timestamp
2017-07-19 00:47:34 +0000    1
2015-11-28 03:31:48 +0000    1
2015-11-19 03:29:07 +0000    1
2015-11-16 04:02:55 +0000    1
2016-09-02 18:03:10 +0000    1
                            ..
2016-11-06 01:33:58 +0000    1
2016-10-06 15:49:14 +0000    1
2017-01-20 00:50:15 +0000    1
2017-01-20 17:00:46 +0000    1
2015-11-20 03:41:59 +0000    1
Name: count, Length: 181, dtype: int64

 --------------------------------------------

expanded_urls has 137 dupes:
expanded_urls
https://twitter.com/dog_rates/status/667152164079423490/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/718631497683582976/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1                                                                    2
https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1    2
https://twitter.com/dog_rates/status/781524693396357120/photo/1                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                  ..
https://twitter.com/dog_rates/status/763837565564780549/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/764259802650378240/photo/1,https://twitter.com/dog_rates/status/764259802650378240/photo/1                                                                                                                                    1
https://twitter.com/dog_rates/status/764857477905154048/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/765222098633691136/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/666020888022790149/photo/1                                                                                                                                                                                                    1
Name: count, Length: 2218, dtype: int64

 --------------------------------------------

rating_numerator has 2316 dupes:
rating_numerator
12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
2         9
1         9
75        2
15        2
420       2
0         2
80        1
144       1
17        1
26        1
20        1
121       1
143       1
44        1
60        1
45        1
50        1
99        1
204       1
1776      1
165       1
666       1
27        1
182       1
24        1
960       1
84        1
88        1
Name: count, dtype: int64

 --------------------------------------------

rating_denominator has 2338 dupes:
rating_denominator
10     2333
11        3
50        3
20        2
80        2
70        1
7         1
15        1
150       1
170       1
0         1
90        1
40        1
130       1
110       1
16        1
120       1
2         1
Name: count, dtype: int64

 --------------------------------------------

name has 1399 dupes:
name
a             55
Charlie       12
Oliver        11
Cooper        11
Lucy          11
              ..
Aqua           1
Chase          1
Meatball       1
Rorie          1
Christoper     1
Name: count, Length: 956, dtype: int64

 --------------------------------------------

doggo has 2354 dupes:
doggo
doggo    97
Name: count, dtype: int64

 --------------------------------------------

floofer has 2354 dupes:
floofer
floofer    10
Name: count, dtype: int64

 --------------------------------------------

pupper has 2354 dupes:
pupper
pupper    257
Name: count, dtype: int64

 --------------------------------------------

puppo has 2354 dupes:
puppo
puppo    30
Name: count, dtype: int64

 --------------------------------------------

tweet_id values are all unique
expanded_urls has 137 dupes which might mean they are duplicated by retweets and/or replies. Although this number is lower than the number of tweets with retweets. This will require further investigation and will also require cleaning/transforming the data.

In [40]:
# Find all the unique values in each column
for col in twitter_archive.columns:
    print(f'{col.upper()} has {twitter_archive[col].nunique()} unique values:\n  {twitter_archive[col].sort_values().unique()} \n\n ---------------------------------------------------------\n')

TWEET_ID has 2356 unique values:
  [666020888022790149 666029285002620928 666033412701032449 ...
 891815181378084864 892177421306343426 892420643555336193]

 ---------------------------------------------------------

IN_REPLY_TO_STATUS_ID has 77 unique values:
  [6.65814697e+17 6.67065536e+17 6.67152164e+17 6.67806455e+17
 6.68920717e+17 6.69354383e+17 6.70668383e+17 6.71544874e+17
 6.71561002e+17 6.71729907e+17 6.73715862e+17 6.74468881e+17
 6.74739953e+17 6.74752233e+17 6.74793399e+17 6.74999808e+17
 6.75349384e+17 6.75497103e+17 6.75707330e+17 6.75845657e+17
 6.76588346e+17 6.78021116e+17 6.81339449e+17 6.82788442e+17
 6.84222868e+17 6.84481075e+17 6.84959799e+17 6.85547936e+17
 6.86034025e+17 6.90341254e+17 6.91416866e+17 6.92041935e+17
 6.92417313e+17 6.93572216e+17 6.93642232e+17 6.96488711e+17
 7.03041950e+17 7.03255936e+17 7.04485745e+17 7.07980066e+17
 7.29113531e+17 7.33109485e+17 7.38411920e+17 7.46885919e+17
 7.47648654e+17 7.50180499e+17 7.59099524e+17 7.63865175e+17
 7.66711819e+17 7.72743019e+17 7.97123751e+17 8.00857954e+17
 8.01854331e+17 8.11627233e+17 8.13127252e+17 8.21152593e+17
 8.23326389e+17 8.26598365e+17 8.31903044e+17 8.32087548e+17
 8.35245984e+17 8.38085539e+17 8.38145499e+17 8.40698300e+17
 8.47606176e+17 8.48212112e+17 8.50328819e+17 8.55818117e+17
 8.55858536e+17 8.55861584e+17 8.56286004e+17 8.57156678e+17
 8.63425646e+17 8.70726203e+17 8.79553827e+17 8.81607037e+17
 8.86266357e+17            nan]

 ---------------------------------------------------------

IN_REPLY_TO_USER_ID has 31 unique values:
  [1.18563420e+07 1.36157220e+07 1.58464070e+07 1.63746780e+07
 1.64877600e+07 2.06837240e+07 2.14356580e+07 2.19550580e+07
 2.62595760e+07 2.87854860e+07 2.91663050e+07 3.05820820e+07
 4.73844300e+07 7.75962000e+07 1.13211856e+08 1.80670967e+08
 1.94351775e+08 2.79280991e+08 2.91859009e+08 3.58972768e+08
 4.67036706e+08 1.19898851e+09 1.58285381e+09 2.28118160e+09
 2.31910820e+09 2.89413118e+09 3.10544075e+09 4.19698384e+09
 4.71729748e+09 7.30505014e+17 8.40547864e+17            nan]

 ---------------------------------------------------------

TIMESTAMP has 2356 unique values:
  ['2015-11-15 22:32:08 +0000' '2015-11-15 23:05:30 +0000'
 '2015-11-15 23:21:54 +0000' ... '2017-07-31 00:18:03 +0000'
 '2017-08-01 00:17:27 +0000' '2017-08-01 16:23:56 +0000']

 ---------------------------------------------------------

SOURCE has 4 unique values:
  ['<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>'
 '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'
 '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>'
 '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>']

 ---------------------------------------------------------

TEXT has 2356 unique values:
  ['"AND IIIIIIIIIIIEIIIIIIIIIIIII WILL ALWAYS LOVE YOUUUUU" 11/10 https://t.co/rSNCEiTtfI'
 '"AT DAWN, WE RIDE"\n10/10 for both dogs https://t.co/3aXX6wH6it'
 '"Can you behave? You\'re ruining my wedding day"\nDOG: idgaf this flashlight tastes good as hell\n\n10/10 https://t.co/GlFZPzqcEU'
 ... 'ðŸŽ¶ HELLO FROM THE OTHER SIIIIIIIIDE ðŸŽ¶ 10/10 https://t.co/MTOOksRzvH'
 'ðŸŽ¶ HELLO FROM THE OTHER SIIIIIIIIDE ðŸŽ¶ 10/10s https://t.co/GK2HJtkdQk'
 'ðŸ˜‚ðŸ˜‚ðŸ˜‚ 10/10 for the dog and the owner https://t.co/5iYF0Ci0EK']

 ---------------------------------------------------------

RETWEETED_STATUS_ID has 181 unique values:
  [6.66104133e+17 6.67138270e+17 6.67152164e+17 6.67182792e+17
 6.67509364e+17 6.67548415e+17 6.67548696e+17 6.67866724e+17
 6.69000397e+17 6.70319131e+17 6.70444956e+17 6.71896809e+17
 6.73295269e+17 6.73320133e+17 6.74291837e+17 6.75354436e+17
 6.75501076e+17 6.76936542e+17 6.79062614e+17 6.79158374e+17
 6.79462823e+17 6.79828447e+17 6.80055456e+17 6.81523178e+17
 6.81694086e+17 6.82088079e+17 6.83391853e+17 6.83515932e+17
 6.84830983e+17 6.85325113e+17 6.87317306e+17 6.91416866e+17
 6.92417313e+17 6.94669722e+17 6.98195409e+17 7.00143752e+17
 7.00747789e+17 7.01214701e+17 7.03041950e+17 7.04761121e+17
 7.06904524e+17 7.07610949e+17 7.11694788e+17 7.11998280e+17
 7.12809026e+17 7.18631498e+17 7.25842289e+17 7.32005617e+17
 7.33109485e+17 7.36392552e+17 7.39238158e+17 7.39544079e+17
 7.39979192e+17 7.40373189e+17 7.40676976e+17 7.41067307e+17
 7.42423170e+17 7.46757706e+17 7.50429298e+17 7.50719633e+17
 7.52932433e+17 7.53039831e+17 7.53375669e+17 7.56288534e+17
 7.57597141e+17 7.58099636e+17 7.59447682e+17 7.59923799e+17
 7.60153833e+17 7.61004548e+17 7.61672994e+17 7.62464539e+17
 7.62699858e+17 7.63837566e+17 7.65222099e+17 7.67754930e+17
 7.68193405e+17 7.69940426e+17 7.71002130e+17 7.71380798e+17
 7.71770457e+17 7.73308824e+17 7.73547597e+17 7.74314404e+17
 7.75085133e+17 7.75733305e+17 7.76113306e+17 7.77684234e+17
 7.79056096e+17 7.79834333e+17 7.80465709e+17 7.80601304e+17
 7.80931614e+17 7.81524693e+17 7.82305868e+17 7.82722599e+17
 7.82969140e+17 7.83334640e+17 7.83839966e+17 7.84057940e+17
 7.84183166e+17 7.84826020e+17 7.86233965e+17 7.86709083e+17
 7.86963064e+17 7.88765915e+17 7.89530877e+17 7.89986466e+17
 7.90277117e+17 7.90946056e+17 7.91406956e+17 7.91672323e+17
 7.93286476e+17 7.93962222e+17 7.95076730e+17 7.96149749e+17
 8.00065028e+17 8.00141422e+17 8.00854023e+17 8.01167903e+17
 8.06629075e+17 8.07106841e+17 8.08344866e+17 8.09220051e+17
 8.09920764e+17 8.10254108e+17 8.15966073e+17 8.15990721e+17
 8.16450571e+17 8.17423860e+17 8.17827839e+17 8.19004803e+17
 8.19006401e+17 8.19227688e+17 8.19952236e+17 8.20314634e+17
 8.20749717e+17 8.22244817e+17 8.22489057e+17 8.25026591e+17
 8.26958653e+17 8.29374342e+17 8.29501995e+17 8.30583321e+17
 8.31650052e+17 8.32369877e+17 8.32434358e+17 8.32766382e+17
 8.33124695e+17 8.35264099e+17 8.36648149e+17 8.37011345e+17
 8.37820168e+17 8.38905981e+17 8.39289919e+17 8.39549326e+17
 8.40632337e+17 8.41077006e+17 8.42163533e+17 8.44704788e+17
 8.47971000e+17 8.48289382e+17 8.55122533e+17 8.56330159e+17
 8.57061112e+17 8.59196979e+17 8.60563773e+17 8.60914485e+17
 8.63062472e+17 8.65013420e+17 8.66334965e+17 8.66450706e+17
 8.68552279e+17 8.68880398e+17 8.72657584e+17 8.73213776e+17
 8.76850772e+17 8.78057613e+17 8.78281511e+17 8.86053734e+17
 8.87473957e+17            nan]

 ---------------------------------------------------------

RETWEETED_STATUS_USER_ID has 25 unique values:
  [7.83214000e+05 1.96074000e+07 2.48855660e+07 4.11984180e+07
 4.46675020e+07 5.87097230e+07 6.66990130e+07 7.99237010e+07
 1.54767397e+08 1.95036846e+08 2.80479778e+08 3.41021133e+08
 3.63890752e+08 4.87197737e+08 5.12804507e+08 5.97064155e+08
 7.26634734e+08 8.11740824e+08 1.22832566e+09 1.73272909e+09
 4.19698384e+09 4.29683174e+09 7.12457247e+17 7.47554344e+17
 7.87461778e+17            nan]

 ---------------------------------------------------------

RETWEETED_STATUS_TIMESTAMP has 181 unique values:
  ['2015-11-16 04:02:55 +0000' '2015-11-19 00:32:12 +0000'
 '2015-11-19 01:27:25 +0000' '2015-11-19 03:29:07 +0000'
 '2015-11-20 01:06:48 +0000' '2015-11-20 03:41:59 +0000'
 '2015-11-20 03:43:06 +0000' '2015-11-21 00:46:50 +0000'
 '2015-11-24 03:51:38 +0000' '2015-11-27 19:11:49 +0000'
 '2015-11-28 03:31:48 +0000' '2015-12-02 03:40:57 +0000'
 '2015-12-06 00:17:55 +0000' '2015-12-06 01:56:44 +0000'
 '2015-12-08 18:17:56 +0000' '2015-12-11 16:40:19 +0000'
 '2015-12-12 02:23:01 +0000' '2015-12-16 01:27:03 +0000'
 '2015-12-21 22:15:18 +0000' '2015-12-22 04:35:49 +0000'
 '2015-12-23 00:45:35 +0000' '2015-12-24 00:58:27 +0000'
 '2015-12-24 16:00:30 +0000' '2015-12-28 17:12:42 +0000'
 '2015-12-29 04:31:49 +0000' '2015-12-30 06:37:25 +0000'
 '2016-01-02 20:58:09 +0000' '2016-01-03 05:11:12 +0000'
 '2016-01-06 20:16:44 +0000' '2016-01-08 05:00:14 +0000'
 '2016-01-13 16:56:30 +0000' '2016-01-25 00:26:41 +0000'
 '2016-01-27 18:42:06 +0000' '2016-02-02 23:52:22 +0000'
 '2016-02-12 17:22:12 +0000' '2016-02-18 02:24:13 +0000'
 '2016-02-19 18:24:26 +0000' '2016-02-21 01:19:47 +0000'
 '2016-02-26 02:20:37 +0000' '2016-03-01 20:11:59 +0000'
 '2016-03-07 18:09:06 +0000' '2016-03-09 16:56:11 +0000'
 '2016-03-20 23:23:54 +0000' '2016-03-21 19:29:52 +0000'
 '2016-03-24 01:11:29 +0000' '2016-04-09 02:47:55 +0000'
 '2016-04-29 00:21:01 +0000' '2016-05-16 00:31:53 +0000'
 '2016-05-19 01:38:16 +0000' '2016-05-28 03:04:00 +0000'
 '2016-06-04 23:31:25 +0000' '2016-06-05 19:47:03 +0000'
 '2016-06-07 00:36:02 +0000' '2016-06-08 02:41:38 +0000'
 '2016-06-08 22:48:46 +0000' '2016-06-10 00:39:48 +0000'
 '2016-06-13 18:27:32 +0000' '2016-06-25 17:31:25 +0000'
 '2016-07-05 20:41:01 +0000' '2016-07-06 15:54:42 +0000'
 '2016-07-12 18:27:35 +0000' '2016-07-13 01:34:21 +0000'
 '2016-07-13 23:48:51 +0000' '2016-07-22 00:43:32 +0000'
 '2016-07-25 15:23:28 +0000' '2016-07-27 00:40:12 +0000'
 '2016-07-30 17:56:51 +0000' '2016-08-01 01:28:46 +0000'
 '2016-08-01 16:42:51 +0000' '2016-08-04 01:03:17 +0000'
 '2016-08-05 21:19:27 +0000' '2016-08-08 01:44:46 +0000'
 '2016-08-08 17:19:51 +0000' '2016-08-11 20:40:41 +0000'
 '2016-08-15 16:22:20 +0000' '2016-08-22 16:06:54 +0000'
 '2016-08-23 21:09:14 +0000' '2016-08-28 16:51:16 +0000'
 '2016-08-31 15:10:07 +0000' '2016-09-01 16:14:48 +0000'
 '2016-09-02 18:03:10 +0000' '2016-09-06 23:56:05 +0000'
 '2016-09-07 15:44:53 +0000' '2016-09-09 18:31:54 +0000'
 '2016-09-11 21:34:30 +0000' '2016-09-13 16:30:07 +0000'
 '2016-09-14 17:40:06 +0000' '2016-09-19 01:42:24 +0000'
 '2016-09-22 20:33:42 +0000' '2016-09-25 00:06:08 +0000'
 '2016-09-26 17:55:00 +0000' '2016-09-27 02:53:48 +0000'
 '2016-09-28 00:46:20 +0000' '2016-09-29 16:03:01 +0000'
 '2016-10-01 19:47:08 +0000' '2016-10-02 23:23:04 +0000'
 '2016-10-03 15:42:44 +0000' '2016-10-04 15:55:06 +0000'
 '2016-10-06 01:23:05 +0000' '2016-10-06 15:49:14 +0000'
 '2016-10-07 00:06:50 +0000' '2016-10-08 18:41:19 +0000'
 '2016-10-12 15:55:59 +0000' '2016-10-13 23:23:56 +0000'
 '2016-10-14 16:13:10 +0000' '2016-10-19 15:37:03 +0000'
 '2016-10-21 18:16:44 +0000' '2016-10-23 00:27:05 +0000'
 '2016-10-23 19:42:02 +0000' '2016-10-25 16:00:09 +0000'
 '2016-10-26 22:31:36 +0000' '2016-10-27 16:06:04 +0000'
 '2016-11-01 03:00:09 +0000' '2016-11-02 23:45:19 +0000'
 '2016-11-06 01:33:58 +0000' '2016-11-09 00:37:46 +0000'
 '2016-11-19 19:55:41 +0000' '2016-11-20 00:59:15 +0000'
 '2016-11-22 00:10:52 +0000' '2016-11-22 20:58:07 +0000'
 '2016-12-07 22:38:52 +0000' '2016-12-09 06:17:20 +0000'
 '2016-12-12 16:16:49 +0000' '2016-12-15 02:14:29 +0000'
 '2016-12-17 00:38:52 +0000' '2016-12-17 22:43:27 +0000'
 '2017-01-02 17:00:46 +0000' '2017-01-02 18:38:42 +0000'
 '2017-01-04 01:05:59 +0000' '2017-01-06 17:33:29 +0000'
 '2017-01-07 20:18:46 +0000' '2017-01-11 02:15:36 +0000'
 '2017-01-11 02:21:57 +0000' '2017-01-11 17:01:16 +0000'
 '2017-01-13 17:00:21 +0000' '2017-01-14 17:00:24 +0000'
 '2017-01-15 21:49:15 +0000' '2017-01-20 00:50:15 +0000'
 '2017-01-20 17:00:46 +0000' '2017-01-27 17:04:02 +0000'
 '2017-02-02 01:01:21 +0000' '2017-02-08 17:00:26 +0000'
 '2017-02-09 01:27:41 +0000' '2017-02-12 01:04:29 +0000'
 '2017-02-14 23:43:18 +0000' '2017-02-16 23:23:38 +0000'
 '2017-02-17 03:39:51 +0000' '2017-02-18 01:39:12 +0000'
 '2017-02-19 01:23:00 +0000' '2017-02-24 23:04:14 +0000'
 '2017-02-28 18:43:57 +0000' '2017-03-01 18:47:10 +0000'
 '2017-03-04 00:21:08 +0000' '2017-03-07 00:15:46 +0000'
 '2017-03-08 01:41:24 +0000' '2017-03-08 18:52:12 +0000'
 '2017-03-11 18:35:42 +0000' '2017-03-13 00:02:39 +0000'
 '2017-03-16 00:00:07 +0000' '2017-03-23 00:18:10 +0000'
 '2017-04-01 00:36:55 +0000' '2017-04-01 21:42:03 +0000'
 '2017-04-20 18:14:33 +0000' '2017-04-24 02:13:14 +0000'
 '2017-04-26 02:37:47 +0000' '2017-05-02 00:04:57 +0000'
 '2017-05-05 18:36:06 +0000' '2017-05-06 17:49:42 +0000'
 '2017-05-12 16:05:02 +0000' '2017-05-18 01:17:25 +0000'
 '2017-05-21 16:48:45 +0000' '2017-05-22 00:28:40 +0000'
 '2017-05-27 19:39:34 +0000' '2017-05-28 17:23:24 +0000'
 '2017-06-08 03:32:35 +0000' '2017-06-09 16:22:42 +0000'
 '2017-06-19 17:14:49 +0000' '2017-06-23 01:10:23 +0000'
 '2017-06-23 16:00:04 +0000' '2017-07-15 02:44:07 +0000'
 '2017-07-19 00:47:34 +0000' nan]

 ---------------------------------------------------------

EXPANDED_URLS has 2218 unique values:
  ['http://goo.gl/ArWZfi,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1,https://twitter.com/dog_rates/status/709901256215666688/photo/1'
 'http://us.blastingnews.com/news/2017/01/200-dogs-saved-from-south-korean-dog-meat-industry-001385441.html?sbdht=_pM1QUzk3wsfscF9XF2WEd9KoWDpsQlMUjfh1HxxUq0u5mMbiu2B0kw2_'
 'http://us.blastingnews.com/news/2017/01/kentucky-teen-helps-lost-yellow-labrador-and-gets-a-huge-surprise-001431969.html?sbdht=_pM1QUzk3wsenGU1giO7UnJ5NGGiKRW9AD5xs2MkaDpYY13JxbtKE4w2_,https://twitter.com/dog_rates/status/826204788643753985/photo/1,https://twitter.com/dog_rates/status/826204788643753985/photo/1,https://twitter.com/dog_rates/status/826204788643753985/photo/1,https://twitter.com/dog_rates/status/826204788643753985/photo/1'
 ...
 'https://www.petfinder.com/petdetail/34918210,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1'
 'https://www.petfinder.com/petdetail/37334596,https://twitter.com/dog_rates/status/847157206088847362/photo/1,https://twitter.com/dog_rates/status/847157206088847362/photo/1'
 nan]

 ---------------------------------------------------------

RATING_NUMERATOR has 40 unique values:
  [   0    1    2    3    4    5    6    7    8    9   10   11   12   13
   14   15   17   20   24   26   27   44   45   50   60   75   80   84
   88   99  121  143  144  165  182  204  420  666  960 1776]

 ---------------------------------------------------------

RATING_DENOMINATOR has 18 unique values:
  [  0   2   7  10  11  15  16  20  40  50  70  80  90 110 120 130 150 170]

 ---------------------------------------------------------

NAME has 956 unique values:
  ['Abby' 'Ace' 'Acro' 'Adele' 'Aiden' 'Aja' 'Akumi' 'Al' 'Albert' 'Albus'
 'Aldrick' 'Alejandro' 'Alexander' 'Alexanderson' 'Alf' 'Alfie' 'Alfy'
 'Alice' 'Amber' 'Ambrose' 'Amy' 'AmÃ©lie' 'Anakin' 'Andru' 'Andy' 'Angel'
 'Anna' 'Anthony' 'Antony' 'Apollo' 'Aqua' 'Archie' 'Arlen' 'Arlo' 'Arnie'
 'Arnold' 'Arya' 'Ash' 'Asher' 'Ashleigh' 'Aspen' 'Astrid' 'Atlas'
 'Atticus' 'Aubie' 'Augie' 'Autumn' 'Ava' 'Axel' 'Bailey' 'Baloo' 'Balto'
 'Banditt' 'Banjo' 'Barclay' 'Barney' 'Baron' 'Barry' 'Batdog' 'Bauer'
 'Baxter' 'Bayley' 'BeBe' 'Bear' 'Beau' 'Beckham' 'Beebop' 'Beemo' 'Bell'
 'Bella' 'Belle' 'Ben' 'Benedict' 'Benji' 'Benny' 'Bentley' 'Berb'
 'Berkeley' 'Bernie' 'Bert' 'Bertson' 'Betty' 'Beya' 'Biden' 'Bilbo'
 'Billl' 'Billy' 'Binky' 'Birf' 'Bisquick' 'Blakely' 'Blanket' 'Blipson'
 'Blitz' 'Bloo' 'Bloop' 'Blu' 'Blue' 'Bluebert' 'Bo' 'Bob' 'Bobb' 'Bobbay'
 'Bobble' 'Bobby' 'Bode' 'Bodie' 'Bonaparte' 'Bones' 'Bookstore' 'Boomer'
 'Boots' 'Boston' 'Bowie' 'Brad' 'Bradlay' 'Bradley' 'Brady' 'Brandi'
 'Brandonald' 'Brandy' 'Brat' 'Brian' 'Brockly' 'Brody' 'Bronte' 'Brooks'
 'Brownie' 'Bruce' 'Brudge' 'Bruiser' 'Bruno' 'Brutus' 'Bubba' 'Bubbles'
 'Buckley' 'Buddah' 'Buddy' 'Bungalo' 'Burt' 'Butter' 'Butters' 'Cal'
 'Calbert' 'Cali' 'Callie' 'Calvin' 'Canela' 'Cannon' 'Carbon' 'Carl'
 'Carll' 'Carly' 'Carper' 'Carter' 'Caryl' 'Cash' 'Cassie' 'CeCe' 'Cecil'
 'Cedrick' 'Cermet' 'Chadrick' 'Champ' 'Charl' 'Charles' 'Charleson'
 'Charlie' 'Chase' 'Chaz' 'Cheesy' 'Chef' 'Chelsea' 'Cheryl' 'Chesney'
 'Chester' 'Chesterson' 'Chet' 'Chevy' 'Chip' 'Chipson' 'Chloe' 'Chompsky'
 'Christoper' 'Chubbs' 'Chuck' 'Chuckles' 'Chuq' 'Churlie' 'Cilantro'
 'Clarence' 'Clark' 'Clarkus' 'Clarq' 'Claude' 'Cleopatricia' 'Clifford'
 'Clybe' 'Clyde' 'Coco' 'Cody' 'Colby' 'Coleman' 'Colin' 'Combo' 'Comet'
 'Cooper' 'Coops' 'Coopson' 'Cora' 'Corey' 'Covach' 'Craig' 'Crawford'
 'Creg' 'Crimson' 'Crouton' 'Crumpet' 'Crystal' 'Cuddles' 'Cupcake'
 'Cupid' 'Curtis' 'Daisy' 'Dakota' 'Dale' 'Dallas' 'Damon' 'Daniel'
 'Danny' 'Dante' 'Darby' 'Darla' 'Darrel' 'Dash' 'Dave' 'Davey' 'Dawn'
 'DayZ' 'Deacon' 'Derby' 'Derek' 'DevÃ³n' 'Dewey' 'Dex' 'Dexter' 'Dido'
 'Dietrich' 'Diogi' 'Divine' 'Dixie' 'Django' 'Dobby' 'Doc' 'DonDon'
 'Donny' 'Doobert' 'Dook' 'Dot' 'Dotsy' 'Doug' 'Duchess' 'Duddles'
 'Dudley' 'Dug' 'Duke' 'Dunkin' 'Durg' 'Dutch' 'Dwight' 'Dylan' 'Earl'
 'Eazy' 'Ebby' 'Ed' 'Edd' 'Edgar' 'Edmund' 'Eevee' 'Einstein' 'Eleanor'
 'Eli' 'Ellie' 'Elliot' 'Emanuel' 'Ember' 'Emma' 'Emmie' 'Emmy'
 'Enchilada' 'Erik' 'Eriq' 'Ester' 'Eugene' 'Eve' 'Evy' 'Fabio' 'Farfle'
 'Ferg' 'Fido' 'Fiji' 'Fillup' 'Filup' 'Finley' 'Finn' 'Finnegus' 'Fiona'
 'Fizz' 'Flash' 'Fletcher' 'Florence' 'Flurpson' 'FlÃ¡vio' 'Frank'
 'Frankie' 'Franklin' 'Franq' 'Fred' 'Freddery' 'FrÃ¶nq' 'Furzey' 'Fwed'
 'Fynn' 'Gabby' 'Gabe' 'Gary' 'General' 'Genevieve' 'Geno' 'Geoff'
 'George' 'Georgie' 'Gerald' 'Gerbald' 'Gert' 'Gidget' 'Gilbert' 'Gin'
 'Ginger' 'Gizmo' 'Glacier' 'Glenn' 'Godi' 'Godzilla' 'Goliath' 'Goose'
 'Gordon' 'Grady' 'Grey' 'Griffin' 'Griswold' 'Grizz' 'Grizzie'
 'Grizzwald' 'Gromit' 'Gunner' 'Gus' 'Gustaf' 'Gustav' 'GÃ²rdÃ³n' 'Hall'
 'Halo' 'Hammond' 'Hamrick' 'Hank' 'Hanz' 'Happy' 'Harlso' 'Harnold'
 'Harold' 'Harper' 'Harrison' 'Harry' 'Harvey' 'Hazel' 'Hector' 'Heinrich'
 'Henry' 'Herald' 'Herb' 'Hercules' 'Herm' 'Hermione' 'Hero' 'Herschel'
 'Hobbes' 'Holly' 'Horace' 'Howie' 'Hubertson' 'Huck' 'Humphrey' 'Hunter'
 'Hurley' 'Huxley' 'Iggy' 'Ike' 'Indie' 'Iroh' 'Ito' 'Ivar' 'Izzy' 'JD'
 'Jack' 'Jackie' 'Jackson' 'Jameson' 'Jamesy' 'Jangle' 'Jareld' 'Jarod'
 'Jarvis' 'Jaspers' 'Jax' 'Jay' 'Jaycob' 'Jazz' 'Jazzy' 'Jeb' 'Jebberson'
 'Jed' 'Jeffrey' 'Jeffri' 'Jeffrie' 'Jennifur' 'Jeph' 'Jeremy' 'Jerome'
 'Jerry' 'Jersey' 'Jesse' 'Jessifer' 'Jessiga' 'Jett' 'Jim' 'Jimbo'
 'Jiminus' 'Jiminy' 'Jimison' 'Jimothy' 'Jo' 'Jockson' 'Joey' 'Jomathan'
 'Jonah' 'Jordy' 'Josep' 'Joshwa' 'Juckson' 'Julio' 'Julius' 'Juno' 'Kaia'
 'Kaiya' 'Kallie' 'Kane' 'Kanu' 'Kara' 'Karl' 'Karll' 'Karma' 'Kathmandu'
 'Katie' 'Kawhi' 'Kayla' 'Keet' 'Keith' 'Kellogg' 'Ken' 'Kendall'
 'Kenneth' 'Kenny' 'Kenzie' 'Keurig' 'Kevin' 'Kevon' 'Kial' 'Kilo'
 'Kingsley' 'Kirby' 'Kirk' 'Klein' 'Klevin' 'Kloey' 'Kobe' 'Koda' 'Kody'
 'Koko' 'Kollin' 'Kona' 'Kota' 'Kramer' 'Kreg' 'Kreggory' 'Kulet' 'Kuyu'
 'Kyle' 'Kyro' 'Lacy' 'Laela' 'Laika' 'Lambeau' 'Lance' 'Larry' 'Lassie'
 'Layla' 'Leela' 'Lennon' 'Lenny' 'Lenox' 'Leo' 'Leonard' 'Leonidas'
 'Levi' 'Liam' 'Lilah' 'Lili' 'Lilli' 'Lillie' 'Lilly' 'Lily' 'Lincoln'
 'Linda' 'Link' 'Linus' 'Lipton' 'Livvie' 'Lizzie' 'Logan' 'Loki' 'Lola'
 'Lolo' 'Longfellow' 'Loomis' 'Lorelei' 'Lorenzo' 'Lou' 'Louie' 'Louis'
 'Luca' 'Lucia' 'Lucky' 'Lucy' 'Lugan' 'Lulu' 'Luna' 'Lupe' 'Luther'
 'Mabel' 'Mac' 'Mack' 'Maddie' 'Maggie' 'Mairi' 'Maisey' 'Major' 'Maks'
 'Malcolm' 'Malikai' 'Margo' 'Mark' 'Marlee' 'Marley' 'Marq' 'Marty'
 'Marvin' 'Mary' 'Mason' 'Mattie' 'Maude' 'Mauve' 'Max' 'Maxaroni'
 'Maximus' 'Maxwell' 'Maya' 'Meatball' 'Meera' 'Meyer' 'Mia'
 'Michelangelope' 'Miguel' 'Mike' 'Miley' 'Milky' 'Millie' 'Milo' 'Mimosa'
 'Mingus' 'Mister' 'Misty' 'Mitch' 'Mo' 'Moe' 'Mojo' 'Mollie' 'Molly'
 'Mona' 'Monkey' 'Monster' 'Monty' 'Moofasa' 'Mookie' 'Moose' 'Moreton'
 'Mosby' 'Murphy' 'Mutt' 'Mya' 'Nala' 'Naphaniel' 'Napolean' 'Nelly'
 'Neptune' 'Newt' 'Nico' 'Nida' 'Nigel' 'Nimbus' 'Noah' 'Nollie' 'Noosh'
 'Norman' 'Nugget' 'O' 'Oakley' 'Obi' 'Obie' 'Oddie' 'Odie' 'Odin' 'Olaf'
 'Ole' 'Olive' 'Oliver' 'Olivia' 'OliviÃ©r' 'Ollie' 'Opal' 'Opie' 'Oreo'
 'Orion' 'Oscar' 'Oshie' 'Otis' 'Ozzie' 'Ozzy' 'Pablo' 'Paisley' 'Pancake'
 'Panda' 'Patch' 'Patrick' 'Paull' 'Pavlov' 'Pawnd' 'Peaches' 'Peanut'
 'Penelope' 'Penny' 'Pepper' 'Percy' 'Perry' 'Pete' 'Petrick' 'Pherb'
 'Phil' 'Philbert' 'Philippe' 'Phineas' 'Phred' 'Pickles' 'Pilot' 'Pinot'
 'Pip' 'Piper' 'Pippa' 'Pippin' 'Pipsy' 'Pluto' 'Poppy' 'Pubert' 'Puff'
 'Pumpkin' 'Pupcasso' 'Quinn' 'Ralf' 'Ralph' 'Ralpher' 'Ralphie'

rating_numerator has some outliers as values and will need to be researched.

rating_denominator should normally be 10 but has some other values as well. This will require further research.

The list of names that appear to be incorrect and will need to be cleaned:

<ul>
    <li>'a'</li>
    <li>'actually'</li>
    <li>'all'</li>
    <li>'an'</li>
    <li>'by'</li>
    <li>'getting'</li>
    <li>'his'</li>
    <li>'incredibly'</li>
    <li>'infuriating'</li>
    <li>'just'</li>
    <li>'life'</li>
    <li>'light'</li>
    <li>'mad'</li>
    <li>'my'</li>
    <li>'not'</li>
    <li>'officially'</li>
    <li>'old'</li>
    <li>'one'</li>
    <li>'quite'</li>
    <li>'space'</li>
    <li>'such'</li>
    <li>'the'</li>
    <li>'this'</li>
    <li>'unacceptable'</li>
    <li>'very'</li>
</ul>

<a id='predictions'></a>
### Assessing `img_predictions`

#### Visual assessment

In [22]:
img_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

There are less rows than in the `twitter_archive` which may mean that not all the tweets have images

#### Programmatic Assessment

In [24]:
img_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

No missing values for any of the columns

In [42]:
# Check for duplicated rows
img_predictions.duplicated().sum()

0

In [26]:
# Print out the duplicate values for each column in the data set
for col in img_predictions.columns:
    print(check_for_dupes(img_predictions, col), '\n', '--------------------------------------------', '\n')

tweet_id has 0 dupes

 --------------------------------------------

jpg_url has 66 dupes:
jpg_url
https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg                                            2
https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/807106774843039744/pu/img/8XZg1xW35Xp2J6JW.jpg    2
https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg                                            2
https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg                                            2
                                                                                          ..
https://pbs.twimg.com/media/CXrmMSpUwAAdeRj.jpg                                            1
https://pbs.twimg.com/media/CXrawAhWkAAWSxC.jpg                                            1
https://pbs.twimg.com/media/CXrIntsUsAEkv0d.jpg                                            1
https://pbs.twimg.com/media/CXqcOHCUQAAugTB.jpg                                            1
https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg                                            1
Name: count, Length: 2009, dtype: int64

 --------------------------------------------

img_num has 2071 dupes:
img_num
1    1780
2     198
3      66
4      31
Name: count, dtype: int64

 --------------------------------------------

p1 has 1697 dupes:
p1
golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
pillow                  1
carousel                1
bald_eagle              1
lorikeet                1
orange                  1
Name: count, Length: 378, dtype: int64

 --------------------------------------------

p1_conf has 69 dupes:
p1_conf
0.721188    2
0.676439    2
0.505370    2
0.777468    2
0.254856    2
           ..
0.141432    1
0.722218    1
0.278600    1
0.375610    1
0.097049    1
Name: count, Length: 2006, dtype: int64

 --------------------------------------------

p1_dog has 2073 dupes:
p1_dog
True     1532
False     543
Name: count, dtype: int64

 --------------------------------------------

p2 has 1670 dupes:
p2
Labrador_retriever    104
golden_retriever       92
Cardigan               73
Chihuahua              44
Pomeranian             42
                     ...
medicine_chest          1
quail                   1
horse_cart              1
waffle_iron             1
bagel                   1
Name: count, Length: 405, dtype: int64

 --------------------------------------------

p2_conf has 71 dupes:
p2_conf
0.069362    3
0.001186    2
0.181351    2
0.016641    2
0.112943    2
           ..
0.053008    1
0.094044    1
0.193804    1
0.155207    1
0.085851    1
Name: count, Length: 2004, dtype: int64

 --------------------------------------------

p2_dog has 2073 dupes:
p2_dog
True     1553
False     522
Name: count, dtype: int64

 --------------------------------------------

p3 has 1667 dupes:
p3
Labrador_retriever    79
Chihuahua             58
golden_retriever      48
Eskimo_dog            38
kelpie                35
                      ..
ox                     1
assault_rifle          1
axolotl                1
pot                    1
banana                 1
Name: count, Length: 408, dtype: int64

 --------------------------------------------

p3_conf has 69 dupes:
p3_conf
0.023353    2
0.046403    2
0.077008    2
0.017492    2
0.223263    2
           ..
0.037881    1
0.085237    1
0.055194    1
0.153598    1
0.076110    1
Name: count, Length: 2006, dtype: int64

 --------------------------------------------

p3_dog has 2073 dupes:
p3_dog
True     1499
False     576
Name: count, dtype: int64

 --------------------------------------------

In [43]:
# Find all the unique values in each column
for col in img_predictions.columns:
    print(f'{col.upper()} has {img_predictions[col].nunique()} unique values:\n  {img_predictions[col].sort_values().unique()} \n\n ---------------------------------------------------------\n')

TWEET_ID has 2075 unique values:
  [666020888022790149 666029285002620928 666033412701032449 ...
 891815181378084864 892177421306343426 892420643555336193]

 ---------------------------------------------------------

JPG_URL has 2009 unique values:
  ['https://pbs.twimg.com/ext_tw_video_thumb/674805331965399040/pu/img/-7bw8niVrgIkLKOW.jpg'
 'https://pbs.twimg.com/ext_tw_video_thumb/675354114423808004/pu/img/qL1R_nGLqa6lmkOx.jpg'
 'https://pbs.twimg.com/ext_tw_video_thumb/675740268751138818/pu/img/dVaVeFAVT-lk_1ZV.jpg'
 ... 'https://pbs.twimg.com/tweet_video_thumb/CeBym7oXEAEWbEg.jpg'
 'https://pbs.twimg.com/tweet_video_thumb/CeGGkWuUUAAYWU1.jpg'
 'https://pbs.twimg.com/tweet_video_thumb/CtTFZZfUsAE5hgp.jpg']

 ---------------------------------------------------------

IMG_NUM has 4 unique values:
  [1 2 3 4]

 ---------------------------------------------------------

P1 has 378 unique values:
  ['Afghan_hound' 'African_crocodile' 'African_grey' 'African_hunting_dog'
 'Airedale' 'American_Staffordshire_terrier' 'American_black_bear'
 'Angora' 'Appenzeller' 'Arabian_camel' 'Arctic_fox' 'Australian_terrier'
 'Bedlington_terrier' 'Bernese_mountain_dog' 'Blenheim_spaniel'
 'Border_collie' 'Border_terrier' 'Boston_bull' 'Brabancon_griffon'
 'Brittany_spaniel' 'Cardigan' 'Chesapeake_Bay_retriever' 'Chihuahua'
 'Christmas_stocking' 'Dandie_Dinmont' 'Doberman' 'Egyptian_cat'
 'English_setter' 'English_springer' 'EntleBucher' 'Eskimo_dog'
 'French_bulldog' 'German_shepherd' 'German_short-haired_pointer'
 'Gordon_setter' 'Great_Dane' 'Great_Pyrenees'
 'Greater_Swiss_Mountain_dog' 'Ibizan_hound' 'Irish_setter'
 'Irish_terrier' 'Irish_water_spaniel' 'Italian_greyhound'
 'Japanese_spaniel' 'Labrador_retriever' 'Lakeland_terrier' 'Leonberg'
 'Lhasa' 'Loafer' 'Madagascar_cat' 'Maltese_dog' 'Mexican_hairless'
 'Newfoundland' 'Norfolk_terrier' 'Norwegian_elkhound' 'Norwich_terrier'
 'Old_English_sheepdog' 'Pekinese' 'Pembroke' 'Pomeranian'
 'Rhodesian_ridgeback' 'Rottweiler' 'Saint_Bernard' 'Saluki' 'Samoyed'
 'Scotch_terrier' 'Scottish_deerhound' 'Shetland_sheepdog' 'Shih-Tzu'
 'Siamese_cat' 'Siberian_husky' 'Staffordshire_bullterrier'
 'Sussex_spaniel' 'Tibetan_mastiff' 'Tibetan_terrier' 'Walker_hound'
 'Weimaraner' 'Welsh_springer_spaniel' 'West_Highland_white_terrier'
 'Yorkshire_terrier' 'acorn_squash' 'agama' 'alp' 'axolotl' 'badger'
 'bakery' 'bald_eagle' 'balloon' 'banana' 'bannister' 'barbell' 'barrow'
 'basenji' 'basketball' 'basset' 'bath_towel' 'bathtub' 'beach_wagon'
 'beagle' 'bearskin' 'beaver' 'bee_eater' 'bib' 'bighorn' 'binoculars'
 'birdhouse' 'bison' 'black-and-tan_coonhound' 'black-footed_ferret'
 'bloodhound' 'bluetick' 'boathouse' 'bonnet' 'book_jacket' 'bookcase'
 'bookshop' 'borzoi' 'bow' 'bow_tie' 'box_turtle' 'boxer' 'briard'
 'brown_bear' 'bubble' 'bull_mastiff' 'bustard' 'cairn' 'candle' 'canoe'
 'car_mirror' 'carousel' 'carton' 'cash_machine' 'cheeseburger' 'cheetah'
 'chimpanzee' 'china_cabinet' 'chow' 'cliff' 'clog' 'clumber'
 'cocker_spaniel' 'coffee_mug' 'coho' 'coil' 'collie' 'comic_book'
 'common_iguana' 'conch' 'convertible' 'coral_reef' 'cougar' 'cowboy_boot'
 'cowboy_hat' 'crane' 'crash_helmet' 'cuirass' 'cup'
 'curly-coated_retriever' 'dalmatian' 'damselfly' 'desktop_computer'
 'dhole' 'dingo' 'dining_table' 'dishwasher' 'dogsled' 'doormat' 'dough'
 'earthstar' 'electric_fan' 'envelope' 'espresso' 'feather_boa'
 'fiddler_crab' 'fire_engine' 'flamingo' 'flat-coated_retriever'
 'fountain' 'four-poster' 'frilled_lizard' 'gas_pump' 'geyser'
 'giant_panda' 'giant_schnauzer' 'golden_retriever' 'gondola' 'goose'
 'grey_fox' 'grille' 'groenendael' 'guenon' 'guinea_pig' 'hammer'
 'hamster' 'hand_blower' 'handkerchief' 'hare' 'harp' 'hay' 'hen'
 'hermit_crab' 'hippopotamus' 'hog' 'home_theater' 'hotdog' 'hummingbird'
 'hyena' 'ibex' 'ice_bear' 'ice_lolly' "jack-o'-lantern" 'jellyfish'
 'jersey' 'jigsaw_puzzle' 'keeshond' 'kelpie' 'killer_whale'
 'king_penguin' 'koala' 'komondor' 'kuvasz' 'lacewing' 'lakeside' 'laptop'
 'lawn_mower' 'leaf_beetle' 'leatherback_turtle' 'leopard' 'limousine'
 'lion' 'llama' 'long-horned_beetle' 'lorikeet' 'loupe' 'lynx' 'mailbox'
 'maillot' 'malamute' 'malinois' 'marmot' 'maze' 'meerkat' 'microphone'
 'microwave' 'military_uniform' 'miniature_pinscher' 'miniature_poodle'
 'miniature_schnauzer' 'minibus' 'minivan' 'mortarboard' 'motor_scooter'
 'mousetrap' 'mud_turtle' 'muzzle' 'nail' 'ocarina' 'orange' 'ostrich'
 'otter' 'ox' 'paddle' 'padlock' 'panpipe' 'paper_towel' 'papillon'
 'park_bench' 'patio' 'peacock' 'pedestal' 'pencil_box' 'picket_fence'
 'piggy_bank' 'pillow' 'ping-pong_ball' 'pitcher' 'platypus' 'pole'
 'polecat' 'pool_table' 'porcupine' 'pot' 'prayer_rug' 'prison' 'pug'
 'quilt' 'radio_telescope' 'rain_barrel' 'ram' 'rapeseed' 'redbone'
 'refrigerator' 'remote_control' 'restaurant' 'revolver' 'robin'
 'rotisserie' 'sandbar' 'schipperke' 'school_bus' 'scorpion' 'sea_lion'
 'sea_urchin' 'seashore' 'seat_belt' 'shield' 'shopping_basket'
 'shopping_cart' 'shower_curtain' 'silky_terrier' 'ski_mask' 'skunk'
 'sliding_door' 'slug' 'snail' 'snorkel' 'snowmobile' 'soccer_ball'
 'soft-coated_wheaten_terrier' 'sorrel' 'space_heater' 'standard_poodle'
 'standard_schnauzer' 'starfish' 'stone_wall' 'stove' 'street_sign'
 'studio_couch' 'suit' 'sulphur-crested_cockatoo' 'sundial' 'sunglasses'
 'swab' 'swing' 'syringe' 'tabby' 'tailed_frog' 'teapot' 'teddy'
 'tennis_ball' 'terrapin' 'three-toed_sloth' 'tick' 'tiger_shark'
 'timber_wolf' 'toilet_seat' 'toilet_tissue' 'toy_poodle' 'toy_terrier'
 'toyshop' 'traffic_light' 'triceratops' 'tricycle' 'trombone' 'tub'
 'tusker' 'upright' 'vacuum' 'vizsla' 'walking_stick' 'wallaby'
 'washbasin' 'washer' 'water_bottle' 'water_buffalo' 'weasel' 'web_site'
 'whippet' 'white_wolf' 'wild_boar' 'window_shade'
 'wire-haired_fox_terrier' 'wombat' 'wood_rabbit' 'wooden_spoon' 'wool'
 'zebra']

 ---------------------------------------------------------

P1_CONF has 2006 unique values:
  [0.0443334 0.0553794 0.0590326 ... 0.999962  0.999984  1.       ]

 ---------------------------------------------------------

P1_DOG has 2 unique values:
  [False  True]

 ---------------------------------------------------------

P2 has 405 unique values:
  ['Afghan_hound' 'African_hunting_dog' 'Airedale'
 'American_Staffordshire_terrier' 'American_alligator'
 'American_black_bear' 'Angora' 'Appenzeller' 'Arabian_camel' 'Arctic_fox'
 'Australian_terrier' 'Bedlington_terrier' 'Bernese_mountain_dog'
 'Blenheim_spaniel' 'Border_collie' 'Border_terrier' 'Boston_bull'
 'Brabancon_griffon' 'Brittany_spaniel' 'Cardigan'
 'Chesapeake_Bay_retriever' 'Chihuahua' 'Christmas_stocking'
 'Dandie_Dinmont' 'Doberman' 'English_foxhound' 'English_setter'
 'English_springer' 'EntleBucher' 'Eskimo_dog' 'European_gallinule'
 'French_bulldog' 'German_shepherd' 'German_short-haired_pointer'
 'Gila_monster' 'Great_Dane' 'Great_Pyrenees' 'Greater_Swiss_Mountain_dog'
 'Ibizan_hound' 'Indian_elephant' 'Irish_setter' 'Irish_terrier'
 'Irish_wolfhound' 'Italian_greyhound' 'Japanese_spaniel'
 'Kerry_blue_terrier' 'Labrador_retriever' 'Lakeland_terrier' 'Leonberg'
 'Lhasa' 'Madagascar_cat' 'Maltese_dog' 'Mexican_hairless' 'Newfoundland'
 'Norfolk_terrier' 'Norwegian_elkhound' 'Norwich_terrier'
 'Old_English_sheepdog' 'Pekinese' 'Pembroke' 'Persian_cat' 'Pomeranian'
 'Rhodesian_ridgeback' 'Rottweiler' 'Saint_Bernard' 'Saluki' 'Samoyed'
 'Scotch_terrier' 'Sealyham_terrier' 'Shetland_sheepdog' 'Shih-Tzu'
 'Siamese_cat' 'Siberian_husky' 'Staffordshire_bullterrier'
 'Sussex_spaniel' 'Tibetan_mastiff' 'Tibetan_terrier' 'Walker_hound'
 'Weimaraner' 'Welsh_springer_spaniel' 'West_Highland_white_terrier'
 'Windsor_tie' 'Yorkshire_terrier' 'academic_gown' 'accordion'
 'affenpinscher' 'apron' 'armadillo' 'ashcan' 'assault_rifle' 'badger'
 'bagel' 'bakery' 'banded_gecko' 'bannister' 'barbershop' 'barracouta'
 'barrel' 'basenji' 'basketball' 'basset' 'bath_towel' 'bathing_cap'
 'bathtub' 'beach_wagon' 'beagle' 'bearskin' 'beaver' 'bib' 'bighorn'
 'binoculars' 'birdhouse' 'bison' 'black-and-tan_coonhound'
 'black-footed_ferret' 'black_widow' 'bloodhound' 'bluetick' 'boathouse'
 'bobsled' 'borzoi' 'bow' 'bow_tie' 'boxer' 'breakwater' 'breastplate'
 'briard' 'brown_bear' 'bucket' 'bull_mastiff' 'cab' 'cairn' 'can_opener'
 'cannon' 'canoe' 'cardigan' 'carton' 'cash_machine' 'chain_mail'
 'chain_saw' 'chimpanzee' 'china_cabinet' 'chow' 'cliff' 'cloak' 'cock'
 'cocker_spaniel' 'cockroach' 'coffee_mug' 'collie' 'comic_book'
 'common_newt' 'computer_keyboard' 'confectionery' 'coral_fungus'
 'coral_reef' 'corn' 'cornet' 'cougar' 'cowboy_boot' 'cowboy_hat' 'cradle'
 'crate' 'crib' 'crossword_puzzle' 'crutch' 'cup' 'curly-coated_retriever'
 'dalmatian' 'dam' 'desk' 'dhole' 'dingo' 'dining_table' 'dishwasher'
 'dock' 'doormat' 'drake' 'dugong' 'dumbbell' 'entertainment_center'
 'envelope' 'feather_boa' 'flat-coated_retriever' 'folding_chair'
 'fountain' 'four-poster' 'frilled_lizard' 'fur_coat' 'giant_panda'
 'giant_schnauzer' 'gibbon' 'golden_retriever' 'goldfish' 'goose'
 'gorilla' 'great_white_shark' 'grey_fox' 'grey_whale' 'groenendael'
 'guinea_pig' 'hair_slide' 'hair_spray' 'hamper' 'hamster'
 'hand-held_computer' 'handkerchief' 'hare' 'harvester' 'hatchet' 'hay'
 'hen' 'hog' 'home_theater' 'horse_cart' 'hotdog' 'house_finch'
 'hummingbird' 'hyena' 'iPod' 'ice_bear' 'ice_lolly' 'indri' 'jaguar'
 'jean' 'jigsaw_puzzle' 'junco' 'keeshond' 'kelpie' 'killer_whale'
 'knee_pad' 'koala' 'komondor' 'kuvasz' 'lakeside' 'lampshade' 'laptop'
 'lawn_mower' 'leafhopper' 'lesser_panda' 'lifeboat' 'lighter' 'llama'
 'loggerhead' 'macaque' 'mailbox' 'maillot' 'malamute' 'malinois' 'marmot'
 'mashed_potato' 'mask' 'medicine_chest' 'meerkat' 'menu'
 'miniature_pinscher' 'miniature_poodle' 'miniature_schnauzer' 'minibus'
 'minivan' 'mink' 'mongoose' 'monitor' 'moped' 'mosquito_net' 'mud_turtle'
 'muzzle' 'nail' 'neck_brace' 'necklace' 'orange' 'oscilloscope' 'otter'
 'otterhound' 'ox' 'oxygen_mask' 'paddle' 'palace' 'paper_towel'
 'papillon' 'patio' 'peacock' 'pelican' 'pickup' 'pier' 'pillow'
 'platypus' 'plow' 'polecat' 'police_van' 'porcupine' 'prayer_rug'
 'printer' 'prison' 'projectile' 'promontory' 'pug' 'punching_bag' 'purse'
 'quail' 'quill' 'quilt' 'racket' 'radiator' 'rain_barrel' 'ram' 'red_fox'
 'redbone' 'rhinoceros_beetle' 'rifle' 'rotisserie' 'rule' 'saltshaker'
 'sandal' 'sandbar' 'sarong' 'schipperke' 'screw' 'sea_lion' 'sea_urchin'
 'seashore' 'seat_belt' 'shoji' 'shopping_basket' 'shopping_cart' 'shovel'
 'shower_cap' 'shower_curtain' 'siamang' 'silky_terrier' 'skunk'
 'sleeping_bag' 'sliding_door' 'slug' 'snail' 'snorkel' 'snowmobile'
 'soccer_ball' 'sock' 'soft-coated_wheaten_terrier' 'solar_dish'
 'sombrero' 'space_heater' 'spatula' 'spindle' 'sports_car' 'spotlight'
 'spotted_salamander' 'standard_poodle' 'standard_schnauzer' 'stingray'
 'stove' 'streetcar' 'studio_couch' 'sulphur_butterfly' 'sunglass'
 'sunglasses' 'swab' 'sweatshirt' 'swing' 'tabby' 'table_lamp'
 'tailed_frog' 'tarantula' 'teddy' 'television' 'tennis_ball' 'terrapin'
 'tick' 'tiger' 'timber_wolf' 'toaster' 'toilet_seat' 'torch' 'toucan'
 'tow_truck' 'toy_poodle' 'toy_terrier' 'toyshop' 'tray' 'tree_frog'
 'trench_coat' 'triceratops' 'tub' 'turnstile' 'umbrella' 'vizsla'
 'volcano' 'waffle_iron' 'wallaby' 'wallet' 'warthog' 'washbasin'
 'water_bottle' 'water_buffalo' 'weasel' 'web_site' 'whippet' 'white_wolf'
 'wig' 'window_screen' 'window_shade' 'wire-haired_fox_terrier' 'wombat'
 'wood_rabbit']

 ---------------------------------------------------------

P2_CONF has 2004 unique values:
  [1.01130e-08 1.00288e-05 1.44895e-05 ... 4.64816e-01 4.67678e-01
 4.88014e-01]

 ---------------------------------------------------------

P2_DOG has 2 unique values:
  [False  True]

 ---------------------------------------------------------

P3 has 408 unique values:
  ['Afghan_hound' 'African_chameleon' 'African_grey' 'Airedale'
 'American_Staffordshire_terrier' 'American_black_bear' 'Angora'
 'Appenzeller' 'Arabian_camel' 'Arctic_fox' 'Australian_terrier'
 'Band_Aid' 'Bernese_mountain_dog' 'Blenheim_spaniel' 'Border_collie'
 'Border_terrier' 'Boston_bull' 'Bouvier_des_Flandres' 'Brabancon_griffon'
 'Brittany_spaniel' 'Cardigan' 'Chesapeake_Bay_retriever' 'Chihuahua'
 'Christmas_stocking' 'Dandie_Dinmont' 'Doberman' 'Egyptian_cat'
 'English_foxhound' 'English_setter' 'English_springer' 'EntleBucher'
 'Eskimo_dog' 'European_fire_salamander' 'French_bulldog' 'French_horn'
 'French_loaf' 'German_shepherd' 'German_short-haired_pointer'
 'Gordon_setter' 'Great_Dane' 'Great_Pyrenees'
 'Greater_Swiss_Mountain_dog' 'Ibizan_hound' 'Indian_elephant'
 'Irish_setter' 'Irish_terrier' 'Irish_water_spaniel' 'Irish_wolfhound'
 'Italian_greyhound' 'Japanese_spaniel' 'Kerry_blue_terrier'
 'Labrador_retriever' 'Lakeland_terrier' 'Leonberg' 'Lhasa' 'Maltese_dog'
 'Mexican_hairless' 'Newfoundland' 'Norfolk_terrier' 'Norwegian_elkhound'
 'Norwich_terrier' 'Old_English_sheepdog' 'Pekinese' 'Pembroke'
 'Persian_cat' 'Pomeranian' 'Rhodesian_ridgeback' 'Rottweiler'
 'Saint_Bernard' 'Saluki' 'Samoyed' 'Scottish_deerhound'
 'Sealyham_terrier' 'Shetland_sheepdog' 'Shih-Tzu' 'Siamese_cat'
 'Siberian_husky' 'Staffordshire_bullterrier' 'Sussex_spaniel'
 'Tibetan_mastiff' 'Tibetan_terrier' 'Walker_hound' 'Weimaraner'
 'Welsh_springer_spaniel' 'West_Highland_white_terrier' 'Windsor_tie'
 'Yorkshire_terrier' 'abaya' 'acorn' 'affenpinscher' 'agama' 'ashcan'
 'assault_rifle' 'axolotl' 'badger' 'bagel' 'balance_beam' 'ballplayer'
 'banana' 'bannister' 'barbell' 'barber_chair' 'barrow' 'basenji' 'basset'
 'bassinet' 'bath_towel' 'bathing_cap' 'bathtub' 'beach_wagon' 'beacon'
 'beagle' 'beaver' 'bell_cote' 'bib' 'binder' 'bison'
 'black-and-tan_coonhound' 'black-footed_ferret' 'black_swan' 'bloodhound'
 'bluetick' 'boathouse' 'bolete' 'bonnet' 'book_jacket' 'bookcase'
 'borzoi' 'bow' 'bow_tie' 'box_turtle' 'boxer' 'brass' 'briard' 'broccoli'
 'brown_bear' 'bubble' 'bucket' 'buckeye' 'bull_mastiff'
 'bulletproof_vest' 'bullfrog' 'cab' 'cairn' 'can_opener' 'canoe'
 'car_wheel' 'cardoon' 'carton' 'chain' 'cheetah' 'chest' 'chickadee'
 'chime' 'chimpanzee' 'chow' 'cliff' 'cloak' 'clumber' 'cocker_spaniel'
 'coffeepot' 'collie' 'common_iguana' 'common_newt' 'conch' 'consomme'
 'convertible' 'coral_reef' 'cougar' 'cowboy_boot' 'coyote' 'crane'
 'crayfish' 'croquet_ball' 'crossword_puzzle' 'cuirass' 'cup'
 'curly-coated_retriever' 'dalmatian' 'desktop_computer' 'dhole' 'dingo'
 'doormat' 'drumstick' 'dugong' 'echidna' 'eel' 'electric_fan'
 'entertainment_center' 'envelope' 'feather_boa' 'file'
 'flat-coated_retriever' 'fountain' 'fur_coat' 'gar' 'giant_panda'
 'giant_schnauzer' 'gibbon' 'go-kart' 'golden_retriever' 'goldfish'
 'golfcart' 'goose' 'gorilla' 'grand_piano' 'great_grey_owl'
 'green_lizard' 'greenhouse' 'grey_fox' 'grocery_store' 'groenendael'
 'guillotine' 'guinea_pig' 'hammerhead' 'hamster' 'hand-held_computer'
 'hand_blower' 'hare' 'hatchet' 'hen' 'hippopotamus' 'hog' 'ibex'
 'ice_bear' 'ice_lolly' 'jaguar' 'jeep' 'jersey' 'jigsaw_puzzle'
 'joystick' 'keeshond' 'kelpie' 'kimono' 'king_penguin' 'koala' 'komondor'
 'kuvasz' 'lakeside' 'lampshade' 'leafhopper' 'limousine' 'lion' 'llama'
 'loggerhead' 'loupe' 'lumbermill' 'macaque' 'malamute' 'malinois'
 'maraca' 'marmot' 'mask' 'maze' 'meerkat' 'menu' 'microwave'
 'miniature_pinscher' 'miniature_poodle' 'miniature_schnauzer' 'minibus'
 'mink' 'mitten' 'mongoose' 'moped' 'mosquito_net' 'mountain_tent' 'mouse'
 'mousetrap' 'mushroom' 'muzzle' 'nail' 'neck_brace' 'nipple' 'notebook'
 'orangutan' 'oscilloscope' 'otter' 'otterhound' 'ox' 'oxcart'
 'paddlewheel' 'padlock' 'paintbrush' 'pajama' 'panpipe' 'paper_towel'
 'papillon' 'parachute' 'parallel_bars' 'park_bench' 'partridge'
 'passenger_car' 'pickup' 'pier' 'pillow' 'pizza' 'plastic_bag' 'plunger'
 'polecat' 'poncho' 'pool_table' 'pop_bottle' 'pot' 'power_drill'
 'prairie_chicken' 'pretzel' 'printer' 'prison' 'pug' 'purse' 'quill'
 'quilt' 'racket' 'rain_barrel' 'ram' 'rapeseed' 'red_wolf' 'redbone'
 'refrigerator' 'restaurant' 'rhinoceros_beetle' 'rifle' 'rock_crab'
 'rotisserie' 'sandbar' 'schipperke' 'screen' 'screw' 'scuba_diver'
 'sea_cucumber' 'sea_lion' 'seashore' 'seat_belt' 'shoji'
 'shopping_basket' 'shopping_cart' 'shovel' 'shower_cap' 'shower_curtain'
 'silky_terrier' 'ski_mask' 'sliding_door' 'snail' 'snorkel'
 'snow_leopard' 'soap_dispenser' 'soccer_ball'
 'soft-coated_wheaten_terrier' 'sombrero' 'space_heater' 'space_shuttle'
 'spatula' 'squirrel_monkey' 'standard_poodle' 'standard_schnauzer'
 'steam_locomotive' 'stinkhorn' 'sundial' 'sunglass' 'sunglasses' 'swab'
 'swimming_trunks' 'swing' 'switch' 'teddy' 'television' 'tennis_ball'
 'terrapin' 'theater_curtain' 'three-toed_sloth' 'tiger_cat' 'titi'
 'toilet_seat' 'toilet_tissue' 'toy_poodle' 'toy_terrier' 'toyshop'
 'traffic_light' 'triceratops' 'tripod' 'tub' 'umbrella' 'vacuum' 'valley'
 'viaduct' 'vizsla' 'wallaby' 'wallet' 'warthog' 'washbasin'
 'water_buffalo' 'weasel' 'whippet' 'whiptail' 'white_wolf' 'wig'
 'wild_boar' 'window_screen' 'wing' 'wire-haired_fox_terrier' 'wok'
 'wolf_spider' 'wombat' 'wood_rabbit' 'wool' 'wreck' 'zebra']

 ---------------------------------------------------------

P3_CONF has 2006 unique values:
  [1.74017e-10 2.16090e-07 5.59504e-07 ... 2.70673e-01 2.71042e-01
 2.73419e-01]

 ---------------------------------------------------------

P3_DOG has 2 unique values:
  [False  True]

 ---------------------------------------------------------

tweet_id values are all unique

jpg_url has duplicated values which means the same image was analyzed more than once. This will need to be investigated further.

In [27]:
# Find one of the duplicated jpg_url values
img_predictions.query('jpg_url == "https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg"')

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
800,691416866452082688,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True
1624,803692223237865472,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True

In [44]:
# Use first tweet_id to find tweet details for duplicated jpg_url
twitter_archive.query('tweet_id == 691416866452082688')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1511,691416866452082688,NaN,NaN,2016-01-25 00:26:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I present to you... Dog Jesus. 13/10 (he could be sitting on a rock but I doubt it) https://t.co/fR1P3g5I6k,NaN,NaN,NaN,https://twitter.com/dog_rates/status/691416866452082688/photo/1,13,10,NaN,NaN,NaN,NaN,NaN

This is an orginal tweet

In [45]:
# Use second tweet_id to find tweet details for duplicated jpg_url
twitter_archive.query('tweet_id == 803692223237865472')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
555,803692223237865472,NaN,NaN,2016-11-29 20:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: I present to you... Dog Jesus. 13/10 (he could be sitting on a rock but I doubt it) https://t.co/fR1P3g5I6k,6.914169e+17,4.196984e+09,2016-01-25 00:26:41 +0000,"https://twitter.com/dog_rates/status/691416866452082688/photo/1,https://twitter.com/dog_rates/status/691416866452082688/photo/1",13,10,NaN,NaN,NaN,NaN,NaN

This is a retweet and is causing the duplication.

<a id='json'></a>
### Assessing `tweet_json`

#### Visual assessment

In [36]:
tweet_json

                tweet_id  retweet_count  favorite_count
0     892420643555336193           8853           39467
1     892177421306343426           6514           33819
2     891815181378084864           4328           25461
3     891689557279858688           8964           42908
4     891327558926688256           9774           41048
...                  ...            ...             ...
2349  666049248165822465             41             111
2350  666044226329800704            147             311
2351  666033412701032449             47             128
2352  666029285002620928             48             132
2353  666020888022790149            532            2535

[2354 rows x 3 columns]

This dataset has fewer values than the twitter_archive dataset and will need to be investigated further to understand why.

#### Programmatic Assessment

In [37]:
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   object
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.3+ KB

No missing data

In [46]:
tweet_json.duplicated().sum()

0

<a id='quality'></a>
### Quality issues


#### `twitter_archive` table
1. The name value for 55 of the tweets is 'a'
2. doggo, floofer, pupper, and puppo are all NaN for most of the records
3. tweet_id is an int not a string
4. timestamp is an object not a datetime
5. in_reply_to_status_id and in_reply_to_user_id is float and not string
6. rating_denominator has values greater than 10
7. There are two more tweets than `tweet_json` table
8. There are 281 more tweets than in the `img_predictions` table
9. Missing values for in_reply_to_status_id
10. Missing values for in_reply_to_user_id
11. Missing values for retweeted_status_id
12. Missing values for retweeted_status_user_id
13. Missing values for retweeted_status_timestamp
14. Missing values for expanded_urls
15. Missing values for name

#### `img_predictions` table
1. tweet_id is an int not a string
2. There are 281 less tweets than in the `twitter_archive` table
3. Duplicated jpg_url values

#### `tweet_json` table
1. There are two less tweets than the `twitter_archive` table

<a id='tidiness'></a>
### Tidiness issues

1. doggo, floofer, pupper, and puppo are variable names and should be combined into one column

2. The `tweet_json` table should be merged into the `twitter_archive` table because it contains information about the tweet

3. extended_urls have some values with mutliple values separated by commas and should be separated into individual columns

<a id='cleaning'></a>
## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [39]:
# Make copies of original pieces of data

### Issue #1:

#### Define:

#### Code

#### Test

### Issue #2:

#### Define

#### Code

#### Test

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

<a id='eda'></a>
## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1.

2.

3.

### Visualization

<a id='conclusions'></a>
## Conclusions